.layout-content {
    margin-left: 250px;
    padding-top: 5rem;

    .layout-content-inner {
        padding: 2rem 4rem;
    }

    .card {
        @include card;
    }
}
.tab-card{
    background: var(--surface-500); 
    border: 1px solid var(--surface-border); 
    padding: 0rem; 
    box-shadow: var(--card-shadow);
    justify-content: center;
    &.last-child{
        margin-bottom: 0;
    }
}
.main-content{
    display: grid;
    margin-top: 5rem;
}
