<div class="col-12 md:col-12 flex">
    <div class="card shadow col-3 border-round-lg">
        <span class="card-header">
            <h3 id="featuresTitle" class="font-bold text-xl underline text-center">Features to come</h3>  
            <h3 class="text-red-500">THESE FEATURES HAVE BEEN TABLED FOR NOW WHILE I CONTINUE TO LEARN REACT</h3>
            <ul>
                <li>Finish Home Page
                    <ul>
                        <li>This is still a work in progress. I'm not certain what I want to add next.</li>
                    </ul>
                </li>
                <li>Form Input Example
                    <ul>
                        <li>Create a form input example</li>
                        <li>Create a form input example inside of a dialog popup</li>
                        <li>Show 'Confim closing' popup after info is entered example</li>
                    </ul>
                </li>
                <li>Dark Theme</li>
            </ul>
        </span>
    </div>
    <div class="card shadow col-7 ml-auto border-round-lg">
        <span class="card-header">
            <h3 class="font-bold text-xl underline text-center">Things to check out</h3>   
            <ul> 
                <li>Data Visualization Charts. These charts have many options included to allow the user to swtich the legends side and toggle the displayed values. 
                    The types of charts include: 
                    <ul>
                        <li>Pie and Dougnhut Charts</li>
                        <li>Bar, Line, and Combo charts</li>
                        <li>Radar and Polar Area Charts</li>
                    </ul>
                </li>
                <li>Data Visualization Tables. There are two examples :
                    <ul>
                        <li>
                            The first example shows a larger dataset for an organization's clients. It has a ton of features to allow the user to switch row grouping type, filter different
                            columns based on the needs, allow global filtering, and some other features. It also showcases my abilities to add in many different PrimeNG components
                            to the table itself. 
                        </li>
                        <li>
                            The second example is a minimal shopping experience. This table shows the user roughly 30 products and allows them to add them to their cart. Once
                            the product is in their cart, they can view the whole cart, adjust the item total, see their subtotal and cart total, see recommended items as well as 
                            add those to their cart. 
                        </li>
                    </ul>    
                </li>
                <li>
                    The MVP of the home page is complete! You can now see my current skill set, see recently completed features and those to come, download my resume, email me, 
                    and navigate to my LinkedIn. 
                </li>
            </ul>
        </span>
    </div>
</div>