.shopping-cart-icon {
    cursor: pointer; 
    margin-left: auto; 
    display: flex; 
    align-items: center; 
    font-size: 30px;
    color: var(--secondary-color-text);
}
.shopping-cart-badge{
    position: relative;
    margin-right: .5rem;
    left: -10px;
}