<div class="card">
    <div class="grid pt-3">
        <div class="col-3 md:col-3">
            <p-chart class="block m-auto w-7" type="pie" [data]="pieData1" [options]="pieOptions"></p-chart>
            <h6 class="flex justify-content-center">Top 7 Car Brand Sales in the US by percentage (2022)</h6>
        </div>
        <div class="col-3 md:col-3">
            <p-chart class="block m-auto w-7" type="pie" [data]="pieData2" [options]="pieOptions"></p-chart>
            <h6 class="flex justify-content-center">Example with Zero Data</h6>
        </div>
        <div class="col-3 md:col-3">
            <h6 class="flex justify-content-center">Top 4 Ivy League School Undergraduate Enrollment (2023)</h6>
            <p-chart class="block m-auto w-7" type="doughnut" [data]="doughnutData1" [options]="doughnutOptions"></p-chart>
        </div>
        <div class="col-3 md:col-3">
            <p-chart class="block m-auto w-7" type="doughnut" [data]="doughnutData2" [options]="doughnutOptions"></p-chart>
            <h6 class="flex justify-content-center">Example with Zero Data</h6>
        </div>
        <div class="col-4 md:col-4 ml-auto">
            <h6 class="flex justify-content-center">Yearly breakdown of Terminations</h6>
            <p-chart class="block m-auto w-7" type="radar" [data]="radarChartData" [options]="radarChartOptions"></p-chart>
        </div>
        <div class="col-4 md:col-4 mr-auto">
            <h6 class="flex justify-content-center">Workplace Incidents</h6>
            <p-chart class="block m-auto w-7" type="polarArea" [data]="polarChartData" [options]="polarChartOptions"></p-chart>
        </div>
    </div>
    <button pButton pRipple class="pi pi-cog icon-button flex ml-auto" (click)="filterMenu.show($event)"></button>
</div>

<!-- -----------------------------------------------
------------POPUPS START HERE------------------
----------------------------------------------- -->
<p-overlayPanel #filterMenu styleClass="w-3">
    <h3 class="text-primary">Pie Chart Options</h3>
    <hr>
    <div class="grid">
        <div class="col-5 flex">
            <span class="mr-2 flex mt-2">Chart Data Labels</span> 
            <p-selectButton [options]="['On', 'Off']" [(ngModel)]="showPieChartLabels" (onChange)="setChartOptions()"></p-selectButton>
        </div>
        <div class="col-7 flex">
            <span class="mr-2 flex mt-2">Chart Legend Position</span> 
            <p-selectButton [options]="justifyOptions" [(ngModel)]="pieChartLegendPosition" (onChange)="setChartOptions()">
                <ng-template let-value pTemplate>
                    <i [class]="value.class"></i>
                </ng-template>
            </p-selectButton>
        </div>
    </div>
    <h3 class="text-primary">Doughnut Chart Options</h3>
    <hr>
    <div class="grid">
        <div class="col-5 flex">
            <span class="mr-2 flex mt-2">Chart Data Labels</span> 
            <p-selectButton [options]="['On', 'Off']" [(ngModel)]="showDoughnutChartLabels" (onChange)="setChartOptions()"></p-selectButton>
        </div>
        <div class="col-7 flex">
            <span class="mr-2 flex mt-2">Chart Legend Position</span> 
            <p-selectButton [options]="justifyOptions" [(ngModel)]="doughnutChartLegendPosition" (onChange)="setChartOptions()">
                <ng-template let-value pTemplate>
                    <i [class]="value.class"></i>
                </ng-template>
            </p-selectButton>
        </div>
    </div>
    <h3 class="text-primary">Radar Chart Options</h3>
    <hr>
    <div class="grid">
        <div class="col-5 flex">
            <span class="mr-2 flex mt-2">Chart Data Labels</span> 
            <p-selectButton [options]="['On', 'Off']" [(ngModel)]="showRadarChartLabels" (onChange)="setChartOptions()"></p-selectButton>
        </div>
        <div class="col-7 flex">
            <span class="mr-2 flex mt-2">Chart Legend Position</span> 
            <p-selectButton [options]="justifyOptions" [(ngModel)]="radarChartLegendPosition" (onChange)="setChartOptions()">
                <ng-template let-value pTemplate>
                    <i [class]="value.class"></i>
                </ng-template>
            </p-selectButton>
        </div>
    </div>
    <h3 class="text-primary">Polar Area Chart Options</h3>
    <hr>
    <div class="grid">
        <div class="col-5 flex">
            <span class="mr-2 flex mt-2">Chart Data Labels</span> 
            <p-selectButton [options]="['On', 'Off']" [(ngModel)]="showPolarChartLabels" (onChange)="setChartOptions()"></p-selectButton>
        </div>
        <div class="col-7 flex">
            <span class="mr-2 flex mt-2">Chart Legend Position</span> 
            <p-selectButton [options]="justifyOptions" [(ngModel)]="polarChartLegendPosition" (onChange)="setChartOptions()">
                <ng-template let-value pTemplate>
                    <i [class]="value.class"></i>
                </ng-template>
            </p-selectButton>
        </div>
    </div>
</p-overlayPanel>